<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248787202527-5aqifb63eol9je489p7a7kg2lt2jhclq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248787202527-5aqifb63eol9je489p7a7kg2lt2jhclq</string>
	<key>API_KEY</key>
	<string>AIzaSyCeC2f3qPF1fgDO1AWitEb4fTKViiB5wPM</string>
	<key>GCM_SENDER_ID</key>
	<string>248787202527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Helen-Hall.artBlock1</string>
	<key>PROJECT_ID</key>
	<string>artblock-63cac</string>
	<key>STORAGE_BUCKET</key>
	<string>artblock-63cac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248787202527:ios:5bd059976243721520d46a</string>
</dict>
</plist>